@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@keyframes onloadTextIncreasing {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 50px;
  }
}
@keyframes upsideSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes roll-out-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-540deg);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes rotate-out-center {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes roll-out-blurred-left {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: white;
  z-index: 2;
  animation: 2s ease 0s 1 upsideSlide;
}
.header .wrapper {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin: 10px auto;
}
.header .wrapper .logo {
  height: 45px;
}
.header .wrapper .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .wrapper .nav__item {
  margin-left: 20px;
}
.header .wrapper .nav .notifications {
  cursor: pointer;
  color: #aaa;
  opacity: 0.7;
  font-size: 35px;
  transition: opacity 0.5s ease-in;
}
.header .wrapper .nav .notifications:hover {
  opacity: 1;
}
.header .wrapper .nav .dropdown {
  position: relative;
}
.header .wrapper .nav .dropdown .profile-logo {
  width: 40px;
  font-size: 0;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: #f0a500;
  transition: background-color 0.5s ease-in;
}
.header .wrapper .nav .dropdown .profile-logo:first-letter {
  font-size: 35px;
}
.header .wrapper .nav .dropdown:hover > .profile-logo {
  background-color: #cf7500;
}
.header .wrapper .nav .dropdown .input {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}
.header .wrapper .nav .dropdown .menu {
  position: absolute;
  top: 60px;
  right: 0;
  font-size: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #cecece;
  box-shadow: 3px 3px 3px #ccc;
  display: none;
}
.header .wrapper .nav .dropdown .menu .username {
  color: 15px;
  color: #999;
  text-align: center;
  margin-bottom: 10px;
}
.header .wrapper .nav .dropdown .menu .link {
  color: black;
  margin: 15px 0 0 5px;
  text-decoration: none;
  font-weight: 500;
  display: block;
}
.header .wrapper .nav .dropdown .input:checked ~ .menu {
  display: block;
}

@keyframes onloadTextIncreasing {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 50px;
  }
}
@keyframes upsideSlide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes roll-out-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-540deg);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes rotate-out-center {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
  100% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes slide-out-elliptic-top-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes roll-out-blurred-left {
  0% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
}
.onload-text-increasing {
  animation: onloadTextIncreasing 1s ease-in;
}

.content {
  max-width: 60vw;
  background-color: white;
  margin: 0 auto;
  margin-top: 115px;
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  grid-template-rows: 40% 10% 10% 10% 15% 15%;
  height: 60vh;
  background-color: #fff;
}
.content .block {
  position: relative;
  color: white;
  overflow: hidden;
}
.content .block .front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .block .back {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  color: black;
}
.content .bsa {
  grid-area: 1/1/3/2;
}
.content .bsa .img {
  object-fit: contain;
}
.content .bsa .back > .button {
  margin: auto auto;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #00b0f0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.content .bsa .back > .button:hover {
  background-color: #023e99;
}
.content .bsa:hover > .front {
  animation: scale-out-center 0.5s ease-in both;
}
.content .qa {
  grid-area: 3/1/7/2;
}
.content .qa .front {
  background-color: #00bf7c;
  font-size: 50px;
}
.content .qa:hover > .front {
  animation: rotate-out-center 1s ease-in both;
}
.content .js {
  grid-area: 1/2/5/3;
}
.content .js .front {
  background-color: #ffce77;
  font-size: 50px;
  color: black;
  font-weight: bolder;
}
.content .js .front__header {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.content .js:hover > .front {
  animation: roll-out-left 1s ease-in both;
}
.content .java {
  grid-area: 5/2/7/3;
}
.content .java .front {
  background-color: #f62451;
  font-size: 50px;
}
.content .java:hover > .front {
  animation: swing-out-top-bck 1s ease-in both;
}
.content .php {
  grid-area: 1/3/2/5;
}
.content .php .front {
  background-color: #8693bd;
  font-size: 50px;
  color: black;
  font-style: italic;
}
.content .php:hover > .front {
  animation: roll-out-right 1s ease-in both;
}
.content .net {
  grid-area: 2/3/7/4;
}
.content .net .front {
  background-color: #6d1f73;
  font-size: 50px;
}
.content .net:hover > .front {
  animation: fade-out 1s ease-out both;
}
.content .events {
  grid-area: 2/4/4/5;
}
.content .events .front {
  background-color: #009bf8;
}
.content .events:hover > .front {
  animation: flip-out-hor-top 1s ease-in both;
}
.content .blog {
  grid-area: 4/4/6/5;
}
.content .blog .front {
  background-color: #02439d;
}
.content .blog:hover > .front {
  animation: slide-out-elliptic-top-bck 1s ease-in both;
}
.content .contacts {
  grid-area: 6/4/7/5;
}
.content .contacts .front {
  background-color: #02255b;
}
.content .contacts .back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #02255b;
  transition: background-color 0.5s;
}
.content .contacts .back .media {
  margin: 5px;
  cursor: pointer;
}
.content .contacts .back .media:hover {
  color: #02439d;
}
.content .contacts:hover > .front {
  animation: roll-out-blurred-left 0.65s ease-in both;
}

@media only screen and (max-width: 992px) {
  .content {
    grid-template-columns: 45% 5% 25% 25%;
    grid-template-rows: 18% 18% 14% 25% 25%;
  }
  .content .bsa {
    grid-area: 1/1/4/2;
  }
  .content .qa {
    grid-area: 5/1/6/3;
  }
  .content .js {
    grid-area: 1/2/4/4;
  }
  .content .java {
    grid-area: 4/1/5/3;
  }
  .content .php {
    grid-area: 4/3/5/5;
  }
  .content .net {
    grid-area: 5/3/6/5;
  }
  .content .events {
    grid-area: 1/4/2/5;
  }
  .content .blog {
    grid-area: 2/4/3/5;
  }
  .content .contacts {
    grid-area: 3/4/4/5;
  }
}
.alert-box {
  position: fixed;
  bottom: 0;
  right: 0;
}

.alert {
  z-index: 1000;
  color: white;
  border-radius: 10px;
  opacity: 0.65;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
  padding: 15px;
  margin: 0 15px 20px 0;
}
.alert__icon {
  margin-right: 10px;
}
.alert__title {
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #edf1f7;
  height: 1000px;
}

.success {
  background-color: #359f39;
}

.error {
  background-color: #ce2323;
}

/*# sourceMappingURL=index.css.map */
