$header-height: 65px;
// margin variable is here to recalc other vars
$header-margin: 10px auto;
$header-content-height: $header-height - 20px;
$content-width: 60vw;

$success: #359f39;
$error: #ce2323;
