@import "variables";

.alert-box {
    position: fixed;
    bottom: 0;
    right: 0;
}

.alert {
    z-index: 1000;
    color: white;
    border-radius: 10px;
    opacity: .65;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    padding: 15px;
    margin: 0 15px 20px 0;

    &__icon {
        margin-right: 10px;
    }

    &__title {
        font-weight: bolder;
    }
}