@import "variables";
@import "animations";

.onload-text-increasing {
  animation: onloadTextIncreasing 1s ease-in;
}

.content {
  max-width: $content-width;
  background-color: white;
  margin: 0 auto;
  margin-top: $header-height + 50px;

  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
  grid-template-rows: 40% 10% 10% 10% 15% 15%;
  height: 60vh;
  background-color: #fff;

  .block {
    position: relative;
    color: white;
    overflow: hidden;

    .front {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;

      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .back {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 20px;
      overflow-y: auto;
      color: black;
    }
  }

  .bsa {
    grid-area: 1 / 1 / 3 / 2;
    .img {
      object-fit: contain;
    }

    .back > .button {
      margin: auto auto;
      border-radius: 10px;
      padding: 10px 25px;
      background-color: #00b0f0;
      color: white;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: #023e99;
      }
    }

    &:hover > .front {
      animation: scale-out-center 0.5s ease-in both;
    }
  }
  .qa {
    grid-area: 3 / 1 / 7 / 2;
    .front {
      background-color: #00bf7c;
      font-size: 50px;
    }

    &:hover > .front {
      animation: rotate-out-center 1s ease-in both;
    }
  }
  .js {
    grid-area: 1 / 2 / 5 / 3;

    .front {
      background-color: #ffce77;
      font-size: 50px;
      color: black;
      font-weight: bolder;

      &__header {
        position: absolute;
        bottom: 0;
        right: 10px;
      }
    }

    &:hover > .front {
      animation: roll-out-left 1s ease-in both;
    }
  }
  .java {
    grid-area: 5 / 2 / 7 / 3;
    .front {
      background-color: #f62451;
      font-size: 50px;
    }

    &:hover > .front {
      animation: swing-out-top-bck 1s ease-in both;
    }
  }
  .php {
    grid-area: 1 / 3 / 2 / 5;
    .front {
      background-color: #8693bd;
      font-size: 50px;
      color: black;
      font-style: italic;
    }

    &:hover > .front {
      animation: roll-out-right 1s ease-in both;
    }
  }
  .net {
    grid-area: 2 / 3 / 7 / 4;
    .front {
      background-color: #6d1f73;
      font-size: 50px;
    }

    &:hover > .front {
      animation: fade-out 1s ease-out both;
    }
  }
  .events {
    grid-area: 2 / 4 / 4 / 5;
    .front {
      background-color: #009bf8;
    }

    &:hover > .front {
      animation: flip-out-hor-top 1s ease-in both;
    }
  }
  .blog {
    grid-area: 4 / 4 / 6 / 5;
    .front {
      background-color: #02439d;
    }

    &:hover > .front {
      animation: slide-out-elliptic-top-bck 1s ease-in both;
    }
  }
  .contacts {
    grid-area: 6 / 4 / 7 / 5;
    .front {
      background-color: #02255b;
    }

    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #02255b;
      transition: background-color 0.5s;
      
      .media {
        margin: 5px;
        cursor: pointer;

        &:hover {
          color: #02439d;
        }
      }
    }

    &:hover > .front {
      animation: roll-out-blurred-left 0.65s ease-in both;
    }
  }
}

@media only screen and (max-width: 992px) {
  .content {
    grid-template-columns: 45% 5% 25% 25%;
    grid-template-rows: 18% 18% 14% 25% 25%;

    .bsa {
      grid-area: 1 / 1 / 4 / 2;
    }
    .qa {
      grid-area: 5 / 1 / 6 / 3;
    }
    .js {
      grid-area: 1 / 2 / 4 / 4;
    }
    .java {
      grid-area: 4 / 1 / 5 / 3;
    }
    .php {
      grid-area: 4 / 3 / 5 / 5;
    }
    .net {
      grid-area: 5 / 3 / 6 / 5;
    }
    .events {
      grid-area: 1 / 4 / 2 / 5;
    }
    .blog {
      grid-area: 2 / 4 / 3 / 5;
    }
    .contacts {
      grid-area: 3 / 4 / 4 / 5;
    }
  }
}
