@import "variables";
@import "animations";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: white;
  z-index: 2;

  animation: 2s ease 0s 1 upsideSlide;

  .wrapper {
    width: $content-width;
    display: flex;
    justify-content: space-between;
    height: $header-content-height;
    margin: $header-margin;

    .logo {
      height: $header-content-height;
    }

    .nav {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__item {
        margin-left: 20px;
      }

      .notifications {
        cursor: pointer;
        color: #aaa;
        opacity: 0.7;
        font-size: 35px;
        transition: opacity 0.5s ease-in;

        &:hover {
          opacity: 1;
        }
      }
      .dropdown {
        position: relative;

        .profile-logo {
          width: 40px;
          font-size: 0;
          color: white;
          text-align: center;
          border-radius: 50%;
          background-color: #f0a500;
          transition: background-color 0.5s ease-in;

          &:first-letter {
            font-size: 35px;
          }
        }

        &:hover > .profile-logo {
          background-color: #cf7500;
        }

        .input {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          opacity: 0;
          z-index: 10;
          cursor: pointer;
        }

        .menu {
          position: absolute;
          top: 60px;
          right: 0;
          font-size: 20px;
          padding: 20px;
          background-color: white;
          border: 1px solid #cecece;
          box-shadow: 3px 3px 3px #ccc;
          display: none;

          .username {
            color: 15px;
            color: #999;
            text-align: center;
            margin-bottom: 10px;
          }

          .link {
            color: black;
            margin: 15px 0 0 5px;
            text-decoration: none;
            font-weight: 500;
            display: block;
          }
        }

        .input:checked ~ .menu {
          display: block;
        }
      }
    }
  }
}
