@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";

@import "header";
@import "content";
@import "alert";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #edf1f7;
  height: 1000px;
}

.success {
  background-color: $success;
}

.error {
  background-color: $error;
}

